.source-wrap {
    display: flex;
    flex-direction: row;
}
.formulas {
    display: block;
    padding: 1px;
    background-color: lightgrey;
}
.choice-transf {
    padding: 10px;
}
.choice-transf-result {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 60px;
    margin: 0px;
    padding: 5px;
    background-color: green;
}
.source {
    margin-bottom: 8px;
}
.result-item,
.equally,
.measure{
    height: 50px;
    align-self: center;
    text-align: center;
    padding: 5px;
}
.result-item-two,
.result-item-three {
    margin-left: 5px;
    max-width: 80px;
    align-self: center;
}

.result-item-three {
    max-width: 60px;
}
.nominator,
.denominator,
.result {
    width: 40px;
    height: 24px;
    background: transparent;
    border: none;
    outline: none;
}
.line {
    width: 40px;
    height: 2px;
    border-bottom: solid 2px black;
}
.sqrt {
    border-top: 1px solid #525252;
}
.sqrt-block {
    display: flex;
}
.table-transformer {
    margin-top: 20px;
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
}
.table-transformer th{
    font-weight:normal;
    font-size:14px;
    color:#ffffff;
    background-color:#000000;
}
.table-transformer td{
    font-size:18px;color:#000000;
}
.table-transformer td,.table-transformer th{
    padding:10px 5px;
    vertical-align: middle;
    border: 1px solid #000000;
}
.table-transformer tr:hover{
    background-color:#f9fafb
}
.table-transformer tr:hover td{
    color:#000000;cursor:default;
}

.btn {
    position: fixed;
    z-index: 99;
    opacity: 0.7;
}
.btn:hover {
    background-color: lightseagreen;
    opacity: 1;
    width: 150px;
}
