doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/normalize.css')
    script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
    script#MathJax-script(async='' src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js')
    title Laba
section.choice-transf
    .source-wrap
        .sources
            .source
                .source-title
                    math
                        mrow
                            msub
                                mi P
                                mrow
                                    mi &ncy;
                                    mn 1
                input.input-pn1(type='text' placeholder='Мощность нагрузки 1' value='50')
            .source
                .source-title
                    math
                        mrow
                            msub
                                mi P
                                mrow
                                    mi &ncy;
                                    mn 2
                input.input-pn2(type='text' placeholder='Мощность нагрузки 2' value='150')
            .source
                .source-title
                    math
                        mrow
                            msub
                                mi L
                                mrow
                                    mn 1
                input.input-length-one(type='text' placeholder='Длина ЛЭП L1' value='80')
            .source
                .source-title
                    math
                        mrow
                            msub
                                mi L
                                mrow
                                    mn 2
                input.input-length-two(type='text' placeholder='Длина ЛЭП L2' value='70')
            .source
                .source-title
                    math
                        mrow
                            msub
                                mi L
                                mrow
                                    mn 3
                input.input-length-three(type='text' placeholder='Длина ЛЭП L3' value='60')
            .source
                .source-title
                    | &Ncy;&acy;&pcy;&rcy;&yacy;&zhcy;&iecy;&ncy;&icy;&iecy; &scy;&iecy;&tcy;&icy; U
                    sub A
                input.input-voltage-line(type='text' placeholder='Напряжение сети' value='35')
            .source
                .source-title cos &phi;
                input.input-power-factor(type='text' placeholder='Коэфф.мощности' value='0.82')
    button.btn Go
    .chapter
        p
            | 1.1. &Rcy;&acy;&scy;&chcy;&iecy;&tcy; &pcy;&rcy;&iecy;&dcy;&vcy;&acy;&rcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&jcy; &pcy;&iecy;&rcy;&iecy;&tcy;&ocy;&kcy;&ocy;&vcy;
            | &mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy;.
    .formulas
        .formula-sn
            math(display='block')
                mrow
                    msub
                        mi S
                        mi &ncy;
                mo &#61;
                    mfrac
                        mrow
                            msub
                                mi P
                                mi &ncy;
                        mrow
                            mi cos
                            msub
                                mi &phi;
                                mi &ncy;
        .formula-qn
            math(display='block')
                mrow
                    msub
                        mi Q
                        mi &ncy;
                mo &#61;
                    msqrt
                        mrow
                            msub
                                mi S
                                mi &ncy;
                            msup
                                mrow
                                mn 2
                            mo -
                            msub
                                mi P
                                mi &ncy;
                            msup
                                mrow
                                mn 2
        .formula-sn1
            math(display='block')
                mrow
                    msub
                        mi S
                        mrow
                            mi &ncy;
                            mn 1
                mo &#61;
                    mfrac
                        mn.pn1 0
                        mn.powerFactor 0
                mo &#61;
                    mn.sn1 0
                    mi &Mcy;
                    mi &Vcy;
                    mi &Acy;
        .formula-qn1
            math(display='block')
                mrow
                    msub
                        mi Q
                        mrow
                            mi &ncy;
                            mn 1
                mo &#61;
                    msqrt
                        mrow
                            msup
                                mn.sn1 0
                                mn 2
                            mo -
                            msup
                                mn.pn1 0
                                mn 2
                mo &#61;
                    mn.qn1 0
                    mi &Mcy;
                    mi &vcy;
                    mi &acy;
                    mi &rcy;
        .formula-sn2
            math(display='block')
                mrow
                    msub
                        mi S
                        mrow
                            mi &ncy;
                            mn 2
                mo &#61;
                    mfrac
                        mn.pn2 0
                        mn.powerFactor 0
                mo &#61;
                    mn.sn2 0
                    mi &Mcy;
                    mi &Vcy;
                    mi &Acy;
        .formula-qn2
            math(display='block')
                mrow
                    msub
                        mi Q
                        mrow
                            mi &ncy;
                            mn 2
                mo &#61;
                    msqrt
                        mrow
                            msup
                                mn.sn2 0
                                mn 2
                            mo -
                            msup
                                mn.pn2 0
                                mn 2
                mo &#61;
                    mn.qn2 0
                    mi &Mcy;
                    mi &vcy;
                    mi &acy;
                    mi &rcy;
    table.table-transformer
        tbody
            tr
                td &Tcy;&rcy;-&rcy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi S
                                mrow
                                    mi &Tcy;
                                    mi &Ncy;
                                    mi &Ocy;
                                    mi &Mcy;
                            mo ,
                            mi &Mcy;
                            mi &Vcy;
                            mi &Acy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi U
                                mrow
                                    mi &Vcy;
                                    mi &Ncy;
                            mo ,
                            mi &kcy;
                            mi &Vcy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi U
                                mrow
                                    mi &Ncy;
                                    mi &Ncy;
                            mo ,
                            mi &kcy;
                            mi &Vcy;
                td
                    math(display='block')
                        mrow
                            mi &Delta;
                            msub
                                mi P
                                mi X
                            mo ,
                            mi &kcy;
                            mi &Vcy;
                            mi &tcy;
                td
                    math(display='block')
                        mrow
                            mi &Delta;
                            msub
                                mi P
                                mi &Kcy;
                            mo ,
                            mi &kcy;
                            mi &Vcy;
                            mi &tcy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi U
                                mi &Kcy;
                            mo ,
                            mi %
                td
                    math(display='block')
                        mrow
                            msub
                                mi I
                                mi X
                            mo ,
                            mi %
                td
                    math(display='block')
                        mrow
                            mi &Delta;
                            msub
                                mi Q
                                mi X
                            mo ,
                            mi &kcy;
                            mi &Vcy;
                            mi &acy;
                            mi &rcy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi R
                                mi &Tcy;
                            mo ,
                            mi &Ocy;
                            mi &mcy;
                td
                    math(display='block')
                        mrow
                            msub
                                mi X
                                mi &Tcy;
                            mo ,
                            mi &Ocy;
                            mi &mcy;
            tr.date-of-transformer
script(src='js/script.js')
